{% extends "base.html" %}

{% block title %}Soundwave - Home{% endblock %}
{% block heading %}{{ app }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block content %}
  <table class="tg">
    <thead>
      <tr>
        <th class="tg-tqnx">No.</th>
        <th class="tg-tqnx">Album</th>
        <th class="tg-tqnx">Duration</th>
        <th class="tg-mhh0">Year</th>
        <th class="tg-tqnx">Artist</th>
        <th class="tg-tqnx">Artwork</th>
        <th class="tg-tqnx">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-hv44">1.</td>
        <td class="tg-hv44">{{ albums.1 }}</td>
        <td class="tg-hv44">{{ duration.1 }}</td>
        <td class="tg-ye1f">{{ year.1 }}</td>
        <td class="tg-hv44">{{ artists.1 }}</td>
        <td class="tg-hv44"><img src="{{ artwork.1 }}" width="100" height="100"></td>
        <th class="tg-hv44">{{ stock.1 }}</th>
      </tr>
      <tr>
        <td class="tg-hv44">2.</td>
        <td class="tg-hv44">{{ albums.2 }}</td>
        <td class="tg-hv44">{{ duration.2 }}</td>
        <td class="tg-ye1f">{{ year.2 }}</td>
        <td class="tg-hv44">{{ artists.2 }}</td>
        <td class="tg-hv44"><img src="{{ artwork.2 }}" width="100" height="100"></td>
        <th class="tg-hv44">{{ stock.2 }}</th>
      </tr>
      <tr>
        <td class="tg-hv44">3.</td>
        <td class="tg-hv44">{{ albums.3 }}</td>
        <td class="tg-hv44">{{ duration.3 }}</td>
        <td class="tg-ye1f">{{ year.3 }}</td>
        <td class="tg-hv44">{{ artists.3 }}</td>
        <td class="tg-hv44"><img src="{{ artwork.3 }}" width="100" height="100"></td>
        <th class="tg-hv44">{{ stock.3 }}</th>
      </tr>
      <tr>
        <td class="tg-hv44">4.</td>
        <td class="tg-hv44">{{ albums.4 }}</td>
        <td class="tg-hv44">{{ duration.4 }}</td>
        <td class="tg-ye1f">{{ year.4 }}</td>
        <td class="tg-hv44">{{ artists.4 }}</td>
        <td class="tg-hv44"><img src="{{ artwork.4 }}" width="100" height="100"></td>
        <th class="tg-hv44">{{ stock.4 }}</th>
      </tr>
      <tr>
        <td class="tg-hv44">5.</td>
        <td class="tg-hv44">{{ albums.5 }}</td>
        <td class="tg-hv44">{{ duration.5 }}</td>
        <td class="tg-ye1f">{{ year.5 }}</td>
        <td class="tg-hv44">{{ artists.5 }}</td>
        <td class="tg-hv44"><img src="{{ artwork.5 }}" width="100" height="100"></td>
        <th class="tg-hv44">{{ stock.5 }}</th>
      </tr>
    </tbody>
  </table>
  <h1 class="addalbum">Request an album</h1>
  <h2 class="albumcount">Album requested: {{item_count}}</h2>
  <table class="tg">
    <tr>
        <th class="tg-tqnx">Album</th>
        <th class="tg-tqnx">Year</th>
        <th class="tg-tqnx">Artist</th>
        <th class="tg-tqnx">Date Requested</th>
    </tr>
    {% for item in items %}
        <tr>
            <td class="tg-hv44">{{item.album}}</td>
            <td class="tg-hv44">{{item.year}}</td>
            <td class="tg-hv44">{{item.artist}}</td>
            <td class="tg-hv44">{{item.date_added}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button class="content">
        Request album
    </button>
</a>
{% endblock content %}